



/* header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
} */

header h1 {
    margin-bottom: 10px;
    font-size: 2.5rem;
}

header p {
    font-size: 1.2rem;
}

section {
    margin: 20px 0;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-bottom: 10px;
    font-size: 2rem;
    color: #333;
}

p {
    font-size: 1rem;
    color: #555;
    text-align: left;
}

ul {
    list-style-type: square;
    padding-left: 20px;
}

ul li {
    margin-bottom: 10px;
    font-size: 1rem;
    color: #333;
}

blockquote {
    background: #eee;
    padding: 10px;
    margin: 10px 0;
    border-left: 5px solid #333;
    font-style: italic;
}

blockquote cite {
    display: block;
    margin-top: 10px;
    font-size: 0.9rem;
    color: #666;
}

footer {
    text-align: center;
    padding: 10px;
    background: #333;
    color: #fff;
    border-radius: 8px;
    margin-top: 20px;
}

.service-item {
    margin-bottom: 20px;
}

.service-item h3 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 5px;
}

.service-item p {
    color: #555;
}

#ar-tools p {
    font-size: 1.1rem;
    color: #444;
}

#testimonials blockquote {
    background-color: #fafafa;
}
